body {
  font-family: initial;
  padding: 0;
  background-color: #000000fb;
  color: #ccdbcf;
  background-image: url(imagens/bg.jpg);
  background-size: cover; /* Ajusta o tamanho da imagem para cobrir todo o corpo */
  background-repeat: no-repeat; /* Evita a repetição da imagem */
  background-attachment: fixed; /* Mantém o plano de fundo fixo enquanto a página é rolada */
  margin: 0; /* Adicionei essa linha para ajustar as margens também */
}




.tema h1 {
    color: #eaf0ea;
    text-align: center;
    margin-top: 20px;
    font-size: 3rem;
    flex: 1;
    padding: 20px;
}

.logo {
  max-width: 50%;
  height: auto;
}

.conteiner {
  display: flex;
  align-items: center;
  padding: 20px;
  }

.nina img {
  max-width: 30%;
  height: auto;
  border-radius: 20%;
 
}

p{
  color: #eaf0ea;
  text-align: justify;
  margin-top: 20px;
  font-size: 18px;
  flex: 1;
  padding: 10px;
}

#menu {
  color: #eaf0ea;
  text-align: center;
  margin-top: 20px;
  font-size: 22px;
  flex: 1;
  padding: 10px;
}

h3 {
  color: #eaf0ea;
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  flex: 1;
  padding: 10px;
  background-color: green; /* Cor de fundo verde */
  color: white; /* Cor do texto branca */
  padding: 2px; /* Espaçamento interno para melhorar a aparência */
  font-size: 25px;
}

img {
  display: block; /* Torna a imagem um bloco para centralização horizontal */
  margin: 0 auto; /* Centraliza horizontalmente */
  border-radius: 40%; /* Torna a imagem arredondada */
  max-width: 100%; /* Garante que a imagem não ultrapasse a largura do contêiner */
  height: auto; /* Mantém a proporção da imagem */
}

footer{
  color: #eaf0ea;
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  flex: 1;
  padding: 10px;
}

 /* Estilo para a div de vídeo */
 .video {
  display: flex; /* Usa flexbox para alinhar os vídeos horizontalmente */
  justify-content: space-between; /* Espaçamento igual entre os vídeos */
  margin: 20px 0; /* Margem superior e inferior para separação */
}

/* Estilo para os vídeos dentro da div */
.video iframe {
  max-width: 48%; /* Largura máxima para cada vídeo */
  height: auto;
}

li{
  color: #eaf0ea;
  text-align: center;
  margin-top: 4px;
  font-size: 18px;
  flex: 1;
  padding: 10px;
  display: inline;
  background-color: rgb(25, 228, 18);
  justify-content: center;

}
.menu {
  text-align: center; /* Centraliza o conteúdo horizontalmente */
  background-color: #0ff50f; /* Cor de fundo inicial */
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: white;
  transition: background-color 0.3s; /* Transição suave para a cor de fundo */
}

a:hover {
  background-color: #df8e24; /* Cor de fundo quando o mouse passa por cima */
  border-radius: 5px; /* Borda arredondada */
}

#ref {
  text-align: center;
  justify-content: center;
}